Repository DongSanOfficial/DongSan-Backend, pull requests merged in 2024-10, with the labels that each got.

#3 [feature/DB-8]: Entity 작성 및 package 설정
  dongsan-api/src/main/java/com/dongsan/common/controller/HealthController.java
  dongsan-api/src/main/java/com/dongsan/domains/auth/controller/AuthController.java
  dongsan-api/src/main/java/com/dongsan/domains/auth/usecase/AuthUsecase.java
  dongsan-api/src/main/java/com/dongsan/domains/bookmark/controller/BookmarkController.java
  dongsan-api/src/main/java/com/dongsan/domains/bookmark/usecase/BookmarkUsecase.java
  dongsan-api/src/main/java/com/dongsan/domains/user/controller/UserProfileController.java
  dongsan-api/src/main/java/com/dongsan/domains/user/controller/UserReviewController.java
  dongsan-api/src/main/java/com/dongsan/domains/user/usecase/UserReviewUsecase.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/controller/WalkwayController.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/usecase/WalkwayUsecase.java
  dongsan-common/build.gradle
  dongsan-common/src/main/java/com/dongsan/apiPayload/ApiResponse.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/code/BaseCode.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/code/BaseErrorCode.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/code/ErrorReasonDTO.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/code/ReasonDTO.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/code/status/ErrorStatus.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/code/status/SuccessStatus.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/exception/ExceptionAdvice.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/exception/GeneralException.java
  dongsan-common/src/main/java/com/dongsan/apiPayload/exception/handler/CustomExceptionHandler.java
  dongsan-common/src/main/java/com/dongsan/apiResponse/ErrorResponse.java
  dongsan-common/src/main/java/com/dongsan/apiResponse/ResponseFactory.java
  dongsan-common/src/main/java/com/dongsan/apiResponse/SuccessResponse.java
  dongsan-common/src/main/java/com/dongsan/apiResponse/ValidationError.java
  dongsan-common/src/main/java/com/dongsan/error/code/BaseErrorCode.java
  dongsan-common/src/main/java/com/dongsan/error/code/SystemErrorStatus.java
  dongsan-common/src/main/java/com/dongsan/error/exception/CustomException.java
  dongsan-common/src/main/java/com/dongsan/error/handler/ExceptionAdvice.java
  dongsan-domain/build.gradle
  dongsan-domain/src/main/java/com/dongsan/domains/Member.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/entity/Bookmark.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/entity/MarkedWalkway.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/repository/BookmarkRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/repository/MarkedWalkwayRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/service/BookmarkService.java
  dongsan-domain/src/main/java/com/dongsan/domains/common/entity/BaseEntity.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/entity/Hashtag.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/entity/HashtagWalkway.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/repository/HashtagRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/repository/HashtagWalkwayRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/service/HashtagService.java
  dongsan-domain/src/main/java/com/dongsan/domains/member/entity/Member.java
  dongsan-domain/src/main/java/com/dongsan/domains/member/repository/MemberRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/member/service/MemberService.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/entity/Review.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/repository/ReviewRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/service/ReviewService.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/entity/LikedWalkway.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/entity/Walkway.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/enums/AccessLevel.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/repository/LikedWalkwayRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/repository/WalkwayRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/service/WalkwayService.java
  infrastructure/database/docker-compose.yml
Labels: ♻️ Refactor, ✨ Feature

#4 [feature/DB-13]: 작성한 리뷰 전체 보기 API - 개발 및 테스트 코드 작성
  build.gradle
  dongsan-api/build.gradle
  dongsan-api/src/main/java/com/dongsan/common/annotation/UseCase.java
  dongsan-api/src/main/java/com/dongsan/common/validation/annotation/ExistReview.java
  dongsan-api/src/main/java/com/dongsan/common/validation/validator/ExistReviewValidator.java
  dongsan-api/src/main/java/com/dongsan/domains/auth/usecase/AuthUseCase.java
  dongsan-api/src/main/java/com/dongsan/domains/user/controller/UserReviewController.java
  dongsan-api/src/main/java/com/dongsan/domains/user/dto/response/GetReviewResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/user/mapper/UserReviewMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/user/usecase/UserReviewUseCase.java
  dongsan-api/src/main/java/com/dongsan/domains/user/usecase/UserReviewUsecase.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/usecase/WalkwayUseCase.java
  dongsan-api/src/test/java/com/dongsan/domains/user/controller/UserReviewControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/user/usecase/UserReviewUseCaseTest.java
  dongsan-common/build.gradle
  dongsan-common/src/main/java/com/dongsan/apiResponse/ResponseFactory.java
  dongsan-common/src/main/java/com/dongsan/apiResponse/SuccessResponse.java
  dongsan-common/src/main/java/com/dongsan/error/code/ReviewErrorCode.java
  dongsan-domain/build.gradle
  dongsan-domain/src/main/java/com/dongsan/config/QueryDSLConfig.java
  dongsan-domain/src/main/java/com/dongsan/domains/member/entity/Member.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/repository/ReviewQueryDSLRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/repository/ReviewRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/service/ReviewQueryService.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/service/ReviewService.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/entity/Walkway.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/enums/ExposeLevel.java
  dongsan-domain/src/test/java/com/dongsan/DongsanDomainApplicationTest.java
  dongsan-domain/src/test/java/com/dongsan/common/annotation/RepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/common/config/TestQueryDSLConfig.java
  dongsan-domain/src/test/java/com/dongsan/domains/review/repository/ReviewQueryDSLRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/review/service/ReviewQueryServiceTest.java
  dongsan-domain/src/testFixtures/java/fixture/MemberFixture.java
  dongsan-domain/src/testFixtures/java/fixture/ReviewFixture.java
  dongsan-domain/src/testFixtures/java/fixture/WalkwayFixture.java
Labels: ✅ Test, ✨ Feature

#5 [feature/DB-12]: 프로필 조회, 북마크 제목 리스트 API
  dongsan-api/src/main/java/com/dongsan/domains/bookmark/usecase/BookmarkUseCase.java
  dongsan-api/src/main/java/com/dongsan/domains/user/controller/UserProfileController.java
  dongsan-api/src/main/java/com/dongsan/domains/user/dto/response/GetBookmarksResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/user/dto/response/GetProfileResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/user/mapper/UserBookmarkMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/user/mapper/UserProfileMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/user/usecase/UserProfileUseCase.java
  dongsan-api/src/test/java/com/dongsan/domains/user/controller/UserProfileControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/user/usecase/UserProfileUseCaseTest.java
  dongsan-common/src/main/java/com/dongsan/error/code/MemberErrorCode.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/repository/BookmarkQueryDSLRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/service/BookmarkQueryService.java
  dongsan-domain/src/main/java/com/dongsan/domains/bookmark/service/BookmarkService.java
  dongsan-domain/src/main/java/com/dongsan/domains/member/service/MemberQueryService.java
  dongsan-domain/src/main/java/com/dongsan/domains/member/service/MemberService.java
  dongsan-domain/src/test/java/com/dongsan/common/config/TestQueryDSLConfig.java
  dongsan-domain/src/test/java/com/dongsan/domains/bookmark/repository/BookmarkQueryDSLRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/bookmark/service/BookmarkQueryServiceTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/member/service/MemberQueryServiceTest.java
  dongsan-domain/src/testFixtures/java/fixture/BookmarkFixture.java
Labels: ✅ Test, ✨ Feature

#6 [infra/DB-21]: JaCoCo, Sonar Cloud, CodeCov 설정
  .github/workflows/build.yml
  build.gradle
  codecov.yml
  coverage-exclude.asap
  dongsan-api/build.gradle
  dongsan-common/build.gradle
  dongsan-domain/build.gradle
Labels: ⚙ Infra

#7 [feature/DB-24]: 산책로 등록 API
  dongsan-api/src/main/java/com/dongsan/common/validation/annotation/NotEmptyWalkwayCourse.java
  dongsan-api/src/main/java/com/dongsan/common/validation/validator/NotEmptyCourseValidator.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/controller/WalkwayController.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/dto/request/CreateWalkwayRequest.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/dto/response/CreateWalkwayResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/mapper/HashtagMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/mapper/HashtagWalkwayMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/mapper/WalkwayMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/usecase/WalkwayUseCase.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/controller/WalkwayControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/usecase/WalkwayUseCaseTest.java
  dongsan-common/src/main/java/com/dongsan/error/code/WalkwayErrorCode.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/repository/HashtagRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/service/HashtagCommandService.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/service/HashtagQueryService.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/service/HashtagService.java
  dongsan-domain/src/main/java/com/dongsan/domains/hashtag/service/HashtagWalkwayCommandService.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/enums/ExposeLevel.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/service/WalkwayCommandService.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/service/WalkwayService.java
  dongsan-domain/src/test/java/com/dongsan/domains/hashtag/repository/HashtagRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/hashtag/service/HashtagCommandServiceTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/hashtag/service/HashtagQueryServiceTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/hashtag/service/HashtagWalkwayCommandServiceTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/walkway/service/WalkwayCommandServiceTest.java
  dongsan-domain/src/testFixtures/java/fixture/HashtagFixture.java
  dongsan-domain/src/testFixtures/java/fixture/HashtagWalkwayFixture.java
Labels: ✅ Test, ✨ Feature
