Repository DongSanOfficial/DongSan-Backend, pull requests merged in 2024-11, with the labels that each got.

#9 [fix/DB-39]: cd.yml 명령어 수정
  .github/workflows/cd.yml
Labels: ⚙ Infra, 🐞 Fix

#13 [feature/DB-54]: 산책로 리뷰 별점 보기, 내용 보기, 리뷰 작성
  dongsan-api/src/main/java/com/dongsan/common/format/TimeFormat.java
  dongsan-api/src/main/java/com/dongsan/domains/user/controller/UserProfileController.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/controller/ReviewController.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/controller/WalkwayController.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/dto/request/CreateReviewRequest.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/dto/response/CreateReviewResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/dto/response/GetWalkwayRatingResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/dto/response/GetWalkwayReviewsResponse.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/mapper/ReviewMapper.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/usecase/WalkwayReviewUseCase.java
  dongsan-api/src/main/java/com/dongsan/domains/walkway/usecase/WalkwayUseCase.java
  dongsan-api/src/test/java/com/dongsan/domains/user/controller/UserProfileControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/controller/ReviewControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/controller/WalkwayControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/usecase/WalkwayReviewUseCaseTest.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/usecase/WalkwayUseCaseTest.java
  dongsan-common/src/main/java/com/dongsan/error/code/ReviewErrorCode.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/dto/RatingCount.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/repository/ReviewQueryDSLRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/service/ReviewCommandService.java
  dongsan-domain/src/main/java/com/dongsan/domains/review/service/ReviewQueryService.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/dto/SearchWalkwayPopular.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/dto/SearchWalkwayRating.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/entity/Walkway.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/repository/WalkwayQueryDSLRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/service/WalkwayQueryService.java
  dongsan-domain/src/test/java/com/dongsan/domains/bookmark/repository/BookmarkQueryDSLRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/hashtag/repository/HashtagRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/review/repository/ReviewQueryDSLRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/review/service/ReviewCommandServiceTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/review/service/ReviewQueryServiceTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/walkway/repository/WalkwayQueryDSLRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/walkway/service/WalkwayQueryServiceTest.java
Labels: ✅ Test, ✨ Feature

#14 [feature/DB-52]: 좋아요한 산책로 조회 API
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  dongsan-api/src/main/java/com/dongsan/domains/user/controller/UserWalkwayController.java
  dongsan-api/src/main/java/com/dongsan/domains/user/usecase/UserWalkwayUseCase.java
  dongsan-api/src/test/java/com/dongsan/domains/user/controller/UserWalkwayControllerTest.java
  dongsan-api/src/test/java/com/dongsan/domains/user/usecase/UserWalkwayUseCaseTest.java
  dongsan-api/src/test/java/com/dongsan/domains/walkway/usecase/WalkwayUseCaseTest.java
  dongsan-common/src/main/java/com/dongsan/error/code/LikedWalkwayErrorCode.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/repository/LikedWalkwayQueryDSLRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/repository/LikedWalkwayRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/repository/WalkwayQueryDSLRepository.java
  dongsan-domain/src/main/java/com/dongsan/domains/walkway/service/LikedWalkwayQueryService.java
  dongsan-domain/src/test/java/com/dongsan/common/config/TestQueryDSLConfig.java
  dongsan-domain/src/test/java/com/dongsan/domains/walkway/repository/LikedWalkwayQueryDSLRepositoryTest.java
  dongsan-domain/src/test/java/com/dongsan/domains/walkway/service/LikedWalkwayQueryServiceTest.java
  dongsan-domain/src/testFixtures/java/fixture/LikedWalkwayFixture.java
  dongsan-domain/src/testFixtures/java/fixture/ReflectFixture.java
Labels: ✅ Test, ✨ Feature

#16 [fix/DB-64]: cd.yml script 이전 버전으로 복구
  .github/workflows/cd.yml
Labels: 🐞 Fix
